h3 { margin: 0; }

#content {
	height: 320px;
	color: #f4f4f4;
}

/* Main Content Rules*/

.main_content {
	width: 630px;
	height: 300px;
	float: left;
	padding: 10px;
	border-right: 1px dashed #e2b12e;
}

.right {
	float: right;
	margin-left: 10px;
	color: #f4f4f4;
}

.user_detail span {
	font-size: 20px;
	font-family: Century Gothic, sans-serif;
	color: #e2b12e;
	margin: 0;
	padding: 10px;
}

/* Side Content Rules */

.side_content {
	width: 280px;
	height: 300px;
	float: right;
	padding: 10px;
}

.side_content h3 {
	text-align: center;
}

.side_content img {
	padding: 5px;
	width: 280px;
}

#invite_headline {
	color: #e2b12e;
}

/* Invite form rules */

#invite_form select {
	width: 280px;
	cursor: pointer;
	outline: none;
	font-size: 14px;
}

input[type="text"] {
	width: 272px;
	outline: none;
	border: 1px dotted #e2b12e;
	font-size: 14px;
	padding: 3px;
}

/* */

.border {
	clear: both;
}

label {
	font-size: 22px;
	font-family: 'Lobster', cursive;
	color: #e2b12e;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
	font-weight: normal;
	padding-bottom: 10px;
	padding-top: 10px;
}

.button {
	cursor: pointer;
	font-family: 'Lobster', cursive;
	color: #f4f4f4;
	padding: 8px 14px 10px;
	background-color: #e2b12e;
	border: none;
	position: relative;

	text-decoration: none;
	font-size: 20px;
}