h3, h5 { margin: 0; }
h5 { font-size: 30px; }

#content {
  min-height: 525px;
  color: #f4f4f4;
  position: relative;
}

.main_content {
  width: 630px;
  height: 500px;
  float: left;
  padding: 10px;
  border-right: 1px dashed #e2b12e;
}

.side_content {
  width: 280px;
  height: 500px;
  float: right;
  padding: 10px;
}

.side_content h5 {
  text-align: center;
}

/* Table rules */
.table th, .table td {
  padding: 4px;
  line-height: 20px;
  text-align: left;
}