{% extends "admin/admin_base.html" %}

<!-- Title -->
{% block title %}{{ super() }} - Edit restaurant {% endblock %}

<!-- Edit head for CSS and JS -->
{% block head %}
  {{ super() }}
  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/admin/admin_rest_add.css" />
  <!-- Scripts -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="border"></div>
  <div class="main_content">
    <h3>Edit restaurant</h3>
    <form name="form_rest_edit" action="/admin/rests/edit?id={{rest.key.id()}}" method="POST">
    <label for="name">Name:</label><br/>
    <input type="text" name="name" id="name" value="{{rest.name}}" /><br/><br/>
    <label for="address">Address:</label><br/>
    <input type="text" name="address" id="address" value="{{rest.address}}" /><br/><br/>
    <label for="phone">Phone:</label><br/>
    <input type="text" name="phone" id="phone" value="{{rest.phone}}" /><br/><br/>
    <label for="email">Email:</label><br/>
    <input type="text" name="email" id="email" value="{{rest.email}}" /><br/><br/>
    <input type="submit" class="button" value="Save changes" /><br/><br/>
    </form>
  </div>

  <script>$('#linkRests').addClass('current')</script>
{% endblock %}