{% extends "admin/admin_base.html" %}

<!-- Title -->
{% block title %}{{ super() }} - Subscription #{{subscription.key.id()}} {% endblock %}

<!-- Edit head for CSS and JS -->
{% block head %}
  {{ super() }}
  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/admin/admin_users.css" />
  <link rel="stylesheet" href="/stylesheets/admin/admin_user_view.css" />
  <!-- Scripts -->
{% endblock %}

<!-- Content -->
{% block content %}
	<div class="main_content">
		<h3>Subscription details</h3>
    {% if reservations %}
    <label>Upcoming reservations</label>
    <div id="reservations_list">
      <table>
        <thead>
          <th>Date</th>
          <th>Time</th>
          <th>Edit</th>
        </thead>
        <tbody> 
        {% for reservation in reservations %}
          <tr>
            <td>{{reservation.dt.strftime("%b %d, %Y")}}</th>
            <td>{{reservation.dt.strftime("%I:%M%p")}}</td>
            <td><a href="/admin/reservations/edit?id={{reservation.key.id()}}">Edit</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div><br/><br/>
    {% endif %}

    {% if cancelledReservations %}
    <label>Cancelled reservations</label>
    <div id="cancelled_list">
      <table>
        <thead>
          <th>Date</th>
          <th>Time</th>
          <th>Edit</th>
        </thead>
        <tbody> 
        {% for reservation in cancelledReservations %}
          <tr>
            <td>{{reservation.dt.strftime("%b %d, %Y")}}</th>
            <td>{{reservation.dt.strftime("%I:%M%p")}}</td>
            <td><a href="/admin/reservations/edit?id={{reservation.key.id()}}">Edit</a></td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div><br/><br/>
    {% endif %}
	</div>

  <div class="side_content">
    <h3>Details</h3>
    <div id="subscription_details">
      <table>
        <tr>
          <td><label>Type</label></td>
          <td>{{subscription.typeOf|capitalize}}</td>
        </tr>
        <tr>
          <td><label>Restaurant</label></td>
          <td><a href="/admin/rests/view?id={{subscription.rest.id()}}">{{subscription.rest.get().name}}</a></td>
        </tr>
        <tr>
          <td><label>Name</label></td>
          <td><a href="/admin/users/view?id={{subscription.user.id()}}">{{subscription.user.get().name}}</a></td>
        </tr>
        {% if subscription.start_date %}
        <tr>
          <td><label>Regular time</label></td>
          <td>{{subscription.start_date.strftime("%I:%M%p")}}</td>
        </tr>
        {% if subscription.typeOf == 'weekly' %}
        <tr>
          <td><label>Regular Day</label></td>
          <td>{{subscription.start_date.strftime("%A")}}</td>
        </tr>
        {% endif %}
        {% endif %}
        <tr>
          <td><label>Created</label></td>
          <td>{{subscription.created.strftime('%b %d, %Y')}}</td>
        </tr>
      </table>
    </div><br/><br/>
    {% if not subscription.typeOf == 'empty' %}
    <a class="button" href="/admin/subscriptions/edit?id={{subscription.key.id()}}">Edit</a>
    {% endif %}
  </div>

  <script>$('#linkUsers').addClass('current')</script>
{% endblock %}