<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    {% block head %}
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/admin/admin_base.css" />
    <!-- Fonts -->
     <link href=' http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/scripts/message.js"></script>
    <script src="/scripts/admin/admin_base.js"></script>
    <title>{% block title %}Aperitif Club - [ADMIN] - [TEST]{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
    <!--Header-->
    <div id="header">
    {% block header %}
      <div id="admin_indicator">
        <h3>Admin Mode</h3>
      </div>
      <div id="logo">
        <a href="/admin"><img src="/images/logo.png" alt="Aperitif Club Logo" width="225px" height="115px" /></a>
      </div>
      <div id="navBar">
        <ul id="navBarList">
          <li><a id="linkHome" href="/admin/home">Home</a></li>
          <li><a id="linkRests" href="/admin/rests">Rests</a></li>
          <li><a id="linkUsers" href="/admin/users">Users</a></li>
          <li><a id="linkCodes" href="/admin/codes">Codes</a></li>
        </ul>
      </div>
      <div id="userLog">
        <h6>Welcome, {{ admin.name }}!</h6>
        <h6><a href="/admin/logout">Logout</a></h6>
      </div>
    {% endblock header %}
    </div>
    </div>
    <!-- Content -->
    <div id="content">
    {% block content %}
    {% endblock content %}
    </div>
    <!-- Message -->
    <div id="messageBox">
      <div id="messageText">{{message_text}}</div>
      <input type="button" class="button" id="messageOK" value="OK" />
    </div>
    <!-- Footer -->
    <div id="footer">
    {% block footer %}
      <div class="border"></div>
      <div id="copyright">
        <span>© Copyright 2013 - All Rights Reserved - <a href="/">Aperitif Club</a></span>
      </div>
    {% endblock footer %}
    </div>
  </body>
</html>
{% endautoescape %}