{% extends "base.html" %}

<!-- Title -->
{% block title %}{{ super() }} - Home{% endblock %}

<!-- Edit head for CSS and JS -->
{% block head %}
  {{ super() }}
  <!-- CSS -->
  <link rel="stylesheet" href="/stylesheets/home.css" />
  <!-- Scripts -->
  <script src='/scripts/jquery.jcarousel.js'></script>
  <script src='/scripts/home.js'></script>
{% endblock %}

<!-- Content -->
{% block content %}
  <div id="slideshowWrapper">
    <div class="jcarousel">
      <ul>
        <li><img src="/images/1.jpg" /></li>
        <li><img src="/images/2.jpg" /></li>
        <li><img src="/images/3.jpg" /></li>
        <li><img src="/images/4.jpg" /></li>
      </ul>
    </div>
    {% set reservation = user.getNextReservation() %}
    {% if reservation %}
    <div class="upcomingBox">
      <span>Upcoming</span><br/><br/>
      <span><a href="/reserve/edit?id={{reservation.key.id()}}" style="color: white;">{{reservation.dt.strftime("%A, %b %d, %Y - %I:%M%p")}} - {{reservation.rest.get().name}}</a></span>
    </div>
    {% endif %}
  </div>
  <script>$('#linkHome').addClass('current')</script>
{% endblock %}