{% extends "base.html" %}

<!-- Title -->
{% block title %}{{ super() }} - Change password{% endblock %}

<!-- Edit head for CSS and JS -->
{% block head %}
  {{ super() }}
  <!-- CSS -->
  <!-- Scripts -->
{% endblock %}

<!-- Content -->
{% block content %}
  <div class="border"></div>
  <h3>Change password</h3>
  <div id="change_password_form">
    <form action="/profile/change_password" method="POST">
      <label for="old_password">Old password:</label><br>
      <input type="password" name="old_password" id="old_password"/><br><br>
      <label for="new_password">New password:</label><br>
      <input type="password" name="new_password" id="new_password"/><br><br>
      <label for="new_password_repeat">Repeat new password:</label><br>
      <input type="password" name="new_password_repeat" id="new_password_repeat"/><br><br>
      <input type="submit" value="Save changes" name="submit" class="button" /><br/><br/>
    </form>
  </div>     
  <script>$('#linkProfile').addClass('current')</script>
{% endblock %}