<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    {% block head %}
    <link rel="shortcut icon" href="/images/favicon.ico">
    <!-- CSS -->
    <link rel="stylesheet" href="/stylesheets/index.css" />
  	<!-- Fonts -->
  	 <link href=' http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <!-- Scripts -->
  	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src='/scripts/index.js'></script>
    <script src="/scripts/message.js"></script>
    <title>{% block title %}Aperitif Club{% endblock %}</title>
    {% endblock %}
  </head>
  <body>
  	<!-- Error_Header -->
  	<div id="error_header"></div>
    <!--Header-->
    <div id="header">
    {% block header %}
    	<div id="logo">
    		<img src="images/logo.png" alt="Aperitif Club Logo" width="600px" height="300px" />
    	</div>
    {% endblock header %}
    </div>
    </div>
    <!-- Content -->
    <div id="content">
    {% block content %}
    	<div id="reg_continue">
    		<h3>Registration</h3>
    		<form name="reg_continue" action="/reg_continue" method="POST" onsubmit="return validateRegContForm()">
          <div id="form_left_side">
            <input type="text" name="code" id="code" hidden value="{{code}}" />
            <label for="first_name">First name:</label><br/>
            <input type="text" name="first_name" id="first_name" value="{{fname}}"/><br><br>
            <label for="last_name">Last name:</label><br/>
            <input type="text" name="last_name" id="last_name" value="{{lname}}"/><br><br>
            <label for="email">Email:</label><br/>
            <input type="email" name="email" id="email" value="{{email}}"/><br><br>
            <label for="aux_email">Assistants email:</label><br/>
            <input type="email" name="aux_email" id="aux_email" value="{{aux_email}}" placeholder="Optional"/><br><br>
          </div>
          <div id="form_right_side">
            <label for="phone">Phone:</label><br/>
            <input type="text" name="phone" id="phone" value="{{phone}}"/><br><br>
            <label for="password">Password:</label><br/>
            <input type="password" name="password" id="password" /><br><br>
            <label for="password_repeat">Repeat password:</label><br/>
            <input type="password" name="password_repeat" id="password_repeat" /><br><br>
            <input type="submit" class="button" value="Submit" />
          </div>
    		</form><br>
    	</div>
    {% endblock content %}
    </div>
    <!-- Footer -->
    <div id="footer">
    {% block footer %}
    	<div class="border"></div>
    	<div id="copyright">
    		<span>© Copyright 2013 - All Rights Reserved - <a href="/">Aperitif Club</a></span>
    	</div>
    {% endblock footer %}
    </div>
    <div id="messageBox">
      <div id="messageText">{{message_text}}</div>
      <input type="button" class="button" id="messageOK" value="OK" />
    </div>
  </body>
</html>
{% endautoescape %}